<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Portfolio Management Login</h2>
              <p class="text-white-50 mb-5">Please enter your Username and Password to continue!</p>
              
              <!-- login form starts here -->
              <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
                <div class="form-outline form-white mb-4">
                  <!-- Username label and input  -->
                  <label class="form-label" for="username">Username</label>
                  <input type="text" formControlName="username" id="username" class="form-control form-control-lg" />
                </div>

                <div class="form-outline form-white mb-4">
                  <!-- Password label and input -->
                  <label class="form-label" for="password">Password</label>
                  <input type="password" formControlName="password" id="password" class="form-control form-control-lg" />
                </div>

                <div>
                    <b class="text-danger">{{error}}</b>
                </div>
                
                <!-- Submit button is disabled until form validation -->
                <button class="btn btn-outline-light btn-lg px-5" type="submit" [disabled]="!loginForm.valid">Login</button>
              </form>
              <!-- login form ends here -->
              
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>